{% load static %}
<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv='Pragma' content='no-cache' />
	<meta charset="UTF-8">
	<title>小孙老师</title>
	<meta name="language" content="zh-CN">
	<meta name="title" content="小孙老师">
	<link rel="icon" type="image/x-icon" href="{% static 'img/20210715233345.png' %}">
	<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
</head>

<body>
	<div class="flowtime">
		<div class="ft-section section-1" data-id="section-1">
			<div id="/section-1/page-1" class="ft-page page-1" data-id="page-1">
				<p class="text1"><span id="text-75" contenteditable="true">汤地</span> ❤ <span id="text-76"
						contenteditable="true">孙雪莉</span> <span id="text-77" contenteditable="true">一生一世</span></p>
				<p class="text2">按键盘 "↓" <span id="text-78" contenteditable="true">开始倾听笨男人的浪漫表白</span></p>
			</div>
			<div id="/section-1/page-2" class="ft-page page-2" data-id="page-2">
				<p class="top-text" id="text-1" contenteditable="true">一个人生活，享受着孤独，也憧憬着那个人的到来。</p>
				<img src="{% static 'img/iali63.jpg' %}" tppabs="{% static 'img/iali63.jpg' %}" alt="过去的XX一直是一个人生活，享受着孤独，也憧憬着爱情。" />
			</div>
			<div id="/section-1/page-3" class="ft-page page-3 left-img" data-id="page-3">
				<h2 class="text" id="text-2" contenteditable="true">一个人的长廊</h2>
				<img src="{% static 'img/iali35.jpg' %}" tppabs="{% static 'img/iali35.jpg' %}" alt="一个人的长廊" />
			</div>
			<div id="/section-1/page-4" class="ft-page page-4 full-img" data-id="page-4">
				<h2 class="center-text" id="text-3" contenteditable="true">一个人的山岗</h2>
				<img src="{% static 'img/iali6.jpg' %}" tppabs="{% static 'img/iali6.jpg' %}" alt="一个人的山岗" />
			</div>
		</div>
		<div class="ft-section section-2" data-id="section-2">
			<div id="/section-2/page-1" class="ft-page page-5 full-img" data-id="page-1">
				<h2 class="center-text" id="text-4" contenteditable="true">一个人的地铁</h2>
				<img src="{% static 'img/iali19.jpg' %}" tppabs="{% static 'img/iali19.jpg' %}" alt="一个人的地铁" />
			</div>
			<div id="/section-2/page-2" class="ft-page page-6" data-id="page-2">
				<h2 class="center-text" id="text-5" contenteditable="true">一个人的游乐场</h2>
				<img src="{% static 'img/iali29.jpg' %}" tppabs="{% static 'img/iali29.jpg' %}" alt="一个人的游乐场" />
			</div>
			<div id="/section-2/page-3" class="ft-page page-7" data-id="page-3">
				<h3 id="text-6" contenteditable="true">但依然乐观，微笑着，等待着</h3>
				<img src="{% static 'img/iali60.jpg' %}" tppabs="{% static 'img/iali60.jpg' %}" alt="但他依然乐观，微笑着，等待着" />
			</div>
			<div id="/section-2/page-4" class="ft-page page-8 full-img" data-id="page-4">
				<h3 id="text-7" contenteditable="true">生活难免有风风雨雨</h3>
				<img src="{% static 'img/iali51.jpg' %}" tppabs="{% static 'img/iali51.jpg' %}" alt="生活难免有风风雨雨" />
			</div>
			<div id="/section-2/page-5" class="ft-page page-9" data-id="page-5">
				<h3 id="text-8" contenteditable="true">但总是能够轻松的应对</h3>
				<img src="{% static 'img/iali5.jpg' %}" tppabs="{% static 'img/iali5.jpg' %}" />
			</div>
			<div id="/section-2/page-6" class="ft-page page-10" data-id="page-6">
				<h3 id="text-9" contenteditable="true">脸上也面带阳光和傻乎乎的笑容</h3>
				<img src="{% static 'img/iali22.jpg' %}" tppabs="{% static 'img/iali22.jpg' %}" />
			</div>
		</div>
		<div class="ft-section section-3" data-id="section-3">
{#			<div id="/section-3/page-1" class="ft-page page-11 full-img" data-id="page-1">#}
{#				<h3 id="text-10" contenteditable="true">生活也不会总是一帆风顺</h3>#}
{#				<img src="{% static 'img/iali24.jpg' %}" tppabs="{% static 'img/iali24.jpg' %}" />#}
{#			</div>#}
            <div id="/section-3/page-1" class="ft-page page-17 top-text" data-id="page-1">
				<h3 id="text-19" contenteditable="true">直到2022年的夏天，我和小孙老师相遇了</h3>
				<img src="{% static 'img/iali16.jpg' %}" tppabs="{% static 'img/iali16.jpg' %}" />
			</div>

{#			<div id="/section-3/page-2" class="ft-page page-12" data-id="page-2">#}
{#				<h3><span id="text-11" contenteditable="true">但他每次都能勇敢的面对</span><br /><span id="text-12"#}
{#						contenteditable="true">随时准备接受生活的挑战</span></h3>#}
{#				<img src="{% static 'img/iali25.jpg' %}" tppabs="{% static 'img/iali25.jpg' %}" />#}
{#			</div>#}
            <div id="/section-4/page-2" class="ft-page page-18 full-img" data-id="page-2">
				<p class="text" id="text-20" contenteditable="true">喜欢小孙老师，非常非常的喜欢，因为她的出现，我的脸上有了更加灿烂的笑容</p>
				<img src="{% static 'img/iali11.jpg' %}" tppabs="{% static 'img/iali11.jpg' %}" />
			</div>
{#			<div id="/section-3/page-3" class="ft-page page-13" data-id="page-3">#}
{#				<img src="{% static 'img/iali64.jpg' %}" tppabs="{% static 'img/iali64.jpg' %}" alt='可是小明的爱情又在哪里呢？' />#}
{#				<h3 id="text-13" contenteditable="true">可是XX的爱情又在哪里呢？</h3>#}
{#			</div>#}
            <div id="/section-3/page-3" class="ft-page page-13" data-id="page-3">
				<img src="{% static 'img/微信图片_20231204105503.jpg' %}" tppabs="{% static 'img/微信图片_20231204105503.jpg' %}"  />
				<h3 id="text-13" contenteditable="true">喜欢她的笑容</h3>
			</div>
{#			<div id="/section-3/page-4" class="ft-page page-14 left-img" data-id="page-4">#}
{#				<h3 id="text-14" contenteditable="true">在镜子里面吗？我也不知道</h3>#}
{#				<img src="{% static 'img/iali46.jpg' %}" tppabs="{% static 'img/iali46.jpg' %}" />#}
{#			</div>#}
            <div id="/section-3/page-4" class="ft-page page-14 left-img" data-id="page-4">
                <h3 id="text-14" contenteditable="true">喜欢和她一起拼乐高</h3>
				<img src="{% static 'img/微信图片_20231204105340.jpg' %}" tppabs="{% static 'img/微信图片_20231204105340.jpg' %}" />
			</div>

			<div id="/section-3/page-5" class="ft-page page-15 left-img" data-id="page-5">
				<h3><span id="text-15" contenteditable="true">喜欢和她一起出去玩</span><br /><span id="text-16"
						contenteditable="true">特别是春天里</span></h3>
				<img src="{% static 'img/微信图片_20231204105505.jpg' %}" tppabs="{% static 'img/微信图片_20231204105505.jpg' %}" />
			</div>

			<div id="/section-3/page-6" class="ft-page page-16 left-img" data-id="page-6">
				<h3><span id="text-17" contenteditable="true">还有</span><br /><span id="text-18"
						contenteditable="true">夏天里</span></h3>
				<img src="{% static 'img/微信图片_20231204105337.jpg' %}" tppabs="{% static 'img/微信图片_20231204105337.jpg' %}" />
			</div>

			<div id="/section-3/page-7" class="ft-page page-17 top-text" data-id="page-7">
				<h3 id="text-19" contenteditable="true">还有每一天里</h3>
				<img src="{% static 'img/微信图片_20231204105451.jpg' %}" tppabs="{% static 'img/微信图片_20231204105451.jpg' %}" />
			</div>
		</div>
		<div class="ft-section section-4" data-id="section-4">
			<div id="/section-4/page-1" class="ft-page page-18 " data-id="page-1">
				<p class="text" id="text-20" contenteditable="true">因为，每一天都非常想要和小孙老师呆在一起...</p>
				<img src="{% static 'img/微信图片_20231204105333.jpg' %}" tppabs="{% static 'img/微信图片_20231204105333.jpg' %}" />
			</div>
			<div id="/section-4/page-2" class="ft-page page-19" data-id="page-2">
				<h3 id="text-21" contenteditable="true">我们结婚啦！</h3>
				<img src="{% static 'img/微信图片_20231204105420.jpg' %}" tppabs="{% static 'img/微信图片_20231204105420.jpg' %}" />
			</div>
			<div id="/section-4/page-3" class="ft-page page-20" data-id="page-3">
				<img src="{% static 'img/微信图片_20231204105424.jpg' %}" tppabs="{% static 'img/微信图片_20231204105424.jpg' %}" />
				<h3 id="text-22" contenteditable="true">带着彼此唯一承诺</h3>
{#				<img src="{% static 'img/iali9.jpg' %}" tppabs="{% static 'img/iali9.jpg' %}" />#}
			</div>
			<div id="/section-4/page-4" class="ft-page page-21" data-id="page-4">
				<h3 id="text-23" contenteditable="true">我们把彼此交给对方</h3>
				<img src="{% static 'img/微信图片_20231204105426.jpg' %}" tppabs="{% static 'img/微信图片_20231204105426.jpg' %}" />
			</div>
			<div id="/section-4/page-5" class="ft-page page-22 left-img" data-id="page-5">
				<h3 id="text-24" contenteditable="true">从现在到永远</h3>
				<img src="{% static 'img/IMG_9558.jpg' %}" tppabs="{% static 'img/IMG_9558.jpg' %}" />
			</div>
			<div id="/section-4/page-6" class="ft-page page-23 left-img" data-id="page-6">
				<h3 id="text-25" contenteditable="true">从点滴到全部</h3>
				<img src="{% static 'img/IMG_9786.jpg' %}" tppabs="{% static 'img/IMG_9786.jpg' %}" />
			</div>
			<div id="/section-4/page-7" class="ft-page page-24 full-img" data-id="page-7">
				<h3 id="text-26" contenteditable="true">从两个世界合为一个世界</h3>
				<img src="{% static 'img/IMG_9505.jpg' %}" tppabs="{% static 'img/IMG_9505.jpg' %}" />
			</div>
		</div>
		<div class="ft-section section-5" data-id="section-5">
			<div id="/section-5/page-1" class="ft-page page-25 left-img" data-id="page-1">
				<h3><span id="text-27" contenteditable="true">然后一不留神...</span><br /><span id="text-28"
						contenteditable="true">我们就有了一个宝宝</span></h3>
				<img src="{% static 'img/0b7452646f782a7bd8c25bf9eb518e0.jpg' %}" tppabs="{% static 'img/0b7452646f782a7bd8c25bf9eb518e0.jpg' %}" />
			</div>
			<div id="/section-5/page-2" class="ft-page page-26 top-text" data-id="page-2">
				<h3 id="text-29" contenteditable="true">每天看着小孙老师的肚子一点一点长大</h3>
				<img src="{% static 'img/584133d08bf9c283d73438718b37efb.jpg' %}" tppabs="{% static 'img/584133d08bf9c283d73438718b37efb.jpg' %}" />
			</div>
			<div id="/section-5/page-3" class="ft-page page-27" data-id="page-3">
				<h3 id="text-30" contenteditable="true">着急也盼望着这个小公举快快出来</h3>
				<img src="{% static 'img/7f2472808bfe011247e468cb0080453.jpg' %}" tppabs="{% static 'img/7f2472808bfe011247e468cb0080453.jpg' %}" />
			</div>
			<div id="/section-5/page-4" class="ft-page page-28" data-id="page-4">
				<h3 id="text-31" contenteditable="true">亲亲她</h3>
				<img src="{% static 'img/0a38fad620760fde8ed313398356660.jpg' %}" tppabs="{% static 'img/0a38fad620760fde8ed313398356660.jpg' %}" />
			</div>
			<div id="/section-5/page-5" class="ft-page page-29" data-id="page-5">
				<h3 id="text-32" contenteditable="true">还不出来~那就一边吃一边等你吧</h3>
				<img src="{% static 'img/c7b8ac912fd5bef9c3bb9ed52eb0018.jpg' %}" tppabs="{% static 'img/c7b8ac912fd5bef9c3bb9ed52eb0018.jpg' %}" />
			</div>
			<div id="/section-5/page-6" class="ft-page page-30 left-img" data-id="page-6">
				<h3 id="text-33" contenteditable="true">终于出来啦！小天使有一点点丑，不过以后会变好看的</h3>
				<img src="{% static 'img/微信图片_20231204105343.jpg' %}" tppabs="{% static 'img/微信图片_20231204105343.jpg' %}" />
			</div>
			<div id="/section-5/page-7" class="ft-page page-31" data-id="page-7">
				<h3 id="text-34" contenteditable="true">刚出生的她，每天都在呼呼大睡</h3>
				<img src="{% static 'img/20924cde6d859ddd87f2c7a5869d9d2.jpg' %}" tppabs="{% static 'img/20924cde6d859ddd87f2c7a5869d9d2.jpg' %}" />
			</div>
		</div>
		<div class="ft-section section-6" data-id="section-6">
			<div id="/section-6/page-1" class="ft-page page-32" data-id="page-1">
				<h3 id="text-35" contenteditable="true">小乖乖满月啦</h3>
				<img src="{% static 'img/081422a3e24a2233ec467e194efcb4d.jpg' %}" tppabs="{% static 'img/081422a3e24a2233ec467e194efcb4d.jpg' %}" />
			</div>
			<div id="/section-6/page-2" class="ft-page page-33 top-text" data-id="page-2">
				<h3 id="text-36" contenteditable="true">妈妈的辛苦喂养，才长得这么胖</h3>
				<img src="{% static 'img/91adc6ba1a5038e6f794b0d656d0139.jpg' %}" tppabs="{% static 'img/91adc6ba1a5038e6f794b0d656d0139.jpg' %}" />
			</div>
			<div id="/section-6/page-3" class="ft-page page-34 left-img" data-id="page-3">
				<h3 id="text-37" contenteditable="true">哭的时候会紧紧攥着小拳头</h3>
                <img src="{% static 'img/5985cd91579b4bd2283539d9c3c7e07.jpg' %}" tppabs="{% static 'img/5985cd91579b4bd2283539d9c3c7e07.jpg' %}" />
			</div>
			<div id="/section-6/page-4" class="ft-page page-35" data-id="page-4">
				<h3><span id="text-38" contenteditable="true">醒来的时候</span><br /><span id="text-39"
						contenteditable="true">睁着大大的眼睛</span><br /><span id="text-40"
						contenteditable="true">笑起来有点好笑</span></h3>
				<img src="{% static 'img/68b8dc1457ef4ccf9d956cf6080e127.jpg' %}" tppabs="{% static 'img/68b8dc1457ef4ccf9d956cf6080e127.jpg' %}" />
			</div>
			<div id="/section-6/page-5" class="ft-page page-36 left-img" data-id="page-5">
				<h3 id="text-41" contenteditable="true">小小脑袋里充满了疑惑</h3>
				<img src="{% static 'img/1ea7f2102f534e30a95b515c0cac81d.jpg' %}" tppabs="{% static 'img/1ea7f2102f534e30a95b515c0cac81d.jpg' %}" />
			</div>
			<div id="/section-6/page-6" class="ft-page page-37 left-img" data-id="page-6">
				<h3 id="text-42" contenteditable="true">跟爸爸长得多像</h3>
				<img src="{% static 'img/c3649cc159bf2659094b54b329c0f31.jpg' %}" tppabs="{% static 'img/c3649cc159bf2659094b54b329c0f31.jpg' %}" />
			</div>
			<div id="/section-6/page-7" class="ft-page page-38 bottom-text" data-id="page-7">
				<img src="{% static 'img/b9be0f7155b21d3e8cb9e72d6942904.jpg' %}" tppabs="{% static 'img/b9be0f7155b21d3e8cb9e72d6942904.jpg' %}" />
				<h3 id="text-43" contenteditable="true">连睡觉都是一个姿势</h3>
			</div>
		</div>
		<div class="ft-section section-7" data-id="section-7">
			<div id="/section-7/page-1" class="ft-page page-39 left-img" data-id="page-1">
				<h3 id="text-44" contenteditable="true">乖乖一百天啦</h3>
				<img src="{% static 'img/cc502123d507eadd21864d5b56c7e33.jpg' %}" tppabs="{% static 'img/cc502123d507eadd21864d5b56c7e33.jpg' %}" />
			</div>
			<div id="/section-7/page-2" class="ft-page page-40" data-id="page-2">
				<h3 id="text-45" contenteditable="true">越来越好看，越来越可爱</h3>
				<img src="{% static 'img/217e6d57c7f9b2db1e9f3943d2955df.jpg' %}" tppabs="{% static 'img/217e6d57c7f9b2db1e9f3943d2955df.jpg' %}" />
			</div>
			<div id="/section-7/page-3" class="ft-page page-41 left-img" data-id="page-3">
				<img src="{% static 'img/4b77f9e3e95a8f0ea3ddfde6c72dc65.jpg' %}" tppabs="{% static 'img/4b77f9e3e95a8f0ea3ddfde6c72dc65.jpg' %}" class='img1' />
{#				<img src="{% static 'img/iali30_2.jpg' %}" tppabs="{% static 'img/iali30_2.jpg' %}" class='img2' />#}
				<h3 id="text-46" contenteditable="true">看这小腿，还是胖乎乎的</h3>
			</div>
			<div id="/section-7/page-4" class="ft-page page-42  left-img" data-id="page-4">
				<h3><span id="text-47" contenteditable="true">来看看妈妈吧</span><br /><span id="text-48"
						contenteditable="true">妈妈还是和之前一样的好看</span></h3>
				<img src="{% static 'img/7027f8e1de93a606719db5b77881a66.jpg' %}" tppabs="{% static 'img/7027f8e1de93a606719db5b77881a66.jpg' %}" />
			</div>
			<div id="/section-7/page-5" class="ft-page page-43" data-id="page-5">
				<img src="{% static 'img/f6aec9c7b269302e126af14e9269583.jpg' %}" tppabs="{% static 'img/f6aec9c7b269302e126af14e9269583.jpg' %}" />
				<h3 id="text-49" contenteditable="true">有妈妈抱着好开心呀</h3>
			</div>
			<div id="/section-7/page-6" class="ft-page page-44 left-img" data-id="page-6">
				<h3><span id="text-50" contenteditable="true">生命就像花草一样</span><br /><span id="text-51"
						contenteditable="true">需要用爱来浇灌</span></h3>
				<img src="{% static 'img/4001c1d106710b20d4285a6fa867980.jpg' %}" tppabs="{% static 'img/4001c1d106710b20d4285a6fa867980.jpg' %}" />
			</div>
			<div id="/section-7/page-7" class="ft-page page-45 left-img" data-id="page-7">
				<h3><span id="text-52" contenteditable="true">最后趁妈妈没注意</span><br /><span id="text-53"
						contenteditable="true">偷偷吃个脚丫子</span></h3>
				<img src="{% static 'img/5d93d5e4b2d85db1e8ad679ea3e7f43.jpg' %}" tppabs="{% static 'img/5d93d5e4b2d85db1e8ad679ea3e7f43.jpg' %}" />
			</div>
		</div>
		<div class="ft-section section-8" data-id="section-8">
			<div id="/section-8/page-1" class="ft-page page-46" data-id="page-1">
				<img src="{% static 'img/5d9fb104032f9a5822e7de45d0035a0.jpg' %}" tppabs="{% static 'img/5d9fb104032f9a5822e7de45d0035a0.jpg' %}" />
				<h3>
					<span id="text-54" contenteditable="true">时间过的好快</span>
					<span id="text-55" contenteditable="true">还没来得及享受时间</span>
					<span id="text-56" contenteditable="true">一眨眼</span>
					<span id="text-57" contenteditable="true">乖乖已经一岁了</span>
				</h3>
			</div>
			<div id="/section-8/page-2" class="ft-page page-47 top-text" data-id="page-2">
				<img src="{% static 'img/642647a487a4e1e2a42842e713d2700.jpg' %}" tppabs="{% static 'img/642647a487a4e1e2a42842e713d2700.jpg' %}" />
				<h3>
					<span id="text-58" contenteditable="true">6个月学会了翻身</span>
					<span id="text-59" contenteditable="true">7个月学会了坐</span>
					<span id="text-59" contenteditable="true">8个月已经到处爬了</span>
					<span id="text-60" contenteditable="true">10个月的乖乖</span>
					<span id="text-61" contenteditable="true">迫不及待地想走路了</span>
				</h3>

			</div>
			<div id="/section-8/page-3" class="ft-page page-48 left-img" data-id="page-3">
				<p><span id="text-62" contenteditable="true"></span><br /><span id="text-63"
						contenteditable="true">太活泼啦,出来玩也不安分</span></p>
				<img src="{% static 'img/f9d6f7b55c5fa9100fc6a0eba3c98b1.jpg' %}" tppabs="{% static 'img/f9d6f7b55c5fa9100fc6a0eba3c98b1.jpg' %}" />
			</div>
			<div id="/section-8/page-4" class="ft-page page-49 left-img " data-id="page-4">
				<img src="{% static 'img/16997106075428f341f9801b12d46a4.jpg' %}" tppabs="{% static 'img/16997106075428f341f9801b12d46a4.jpg' %}" />
				<p class="text">
					<span class='text' id="text-64" contenteditable="true">我们的周岁打扮太漂亮啦</span><br />
{#					<span class='text' id="text-65" contenteditable="true">不许说我们不像女生</span>#}
				</p>
			</div>
			<div id="/section-8/page-5" class="ft-page page-50" data-id="page-5">
				<p class='text' id="text-66" contenteditable="true">全世界最好看的两个人</p>
				<img src="{% static 'img/6e62ef94557a4c19426b4d9dd934433.jpg' %}" tppabs="{% static 'img/6e62ef94557a4c19426b4d9dd934433.jpg' %}"/>
				<img src="{% static 'img/iali50_2.jpg' %}" tppabs="{% static 'img/iali50_2.jpg' %}" class='img2' />
			</div>
			<div id="/section-8/page-6" class="ft-page page-51" data-id="page-6">
				<p>
					<span id="text-67" contenteditable="true">永远有多远</span><br />
					<span id="text-68" contenteditable="true">我就会陪你们走多远</span><br />
					<span id="text-69" contenteditable="true">世界有多大</span><br />
					<span id="text-70" contenteditable="true">我都会陪你们看遍它</span>
				</p>
			</div>
		</div>
		<div class="ft-section section-9" data-id="section-9">
			<div id="/section-9/page-1" class="ft-page page-52 full-img" data-id="page-1">
				<h3 id="text-71" contenteditable="true">风雨也好,平凡也罢,我们都要在一起!</h3>
				<img src="{% static 'img/9ab0df8d48d2c86c82b1d221c8b7047.jpg' %}" tppabs="{% static 'img/9ab0df8d48d2c86c82b1d221c8b7047.jpg' %}" />
			</div>
			<div id="/section-9/page-2" class="ft-page page-53" data-id="page-2">
				<img src="{% static 'img/iali68.jpg' %}" tppabs="{% static 'img/iali68.jpg' %}" alt='happy birthday' />
				<h3 id="text-72" contenteditable="true">我爱你们</h3>
			</div>
			<div id="/section-9/page-3" class="ft-page page-54 center-img" data-id="page-3">
				<div class="center-img">I love you</div>
			</div>
			<div id="/section-9/page-4" class="ft-page page-55 right-img" data-id="page-4">
				<img src="{% static 'img/14915.jpg' %}" tppabs="{% static 'img/14915.jpg' %}" />
				<p class="text">
					<span id="text-73" contenteditable="true">我相信，我们的故事会一直继续下去。</span><br />
					<span id="text-74" contenteditable="true">无论精彩、平淡都会是我们喜欢的。</span><br />
{#					<span id="text-74" contenteditable="true">XXX，我爱你</span><br />#}
					<br />
					<br />
					<span> -- 按“Esc"键有惊喜</span>
				</p>
			</div>
		</div>
	</div>
	<div class="nojavascript">您的浏览器禁用了javascript，无法正常浏览本页面</div>


	<audio id="bgmMusic" src="{% static 'audio/lovebgm.mp3' %}" autoplay loop  type="audio/mp3"></audio>


	<script src="{% static 'js/jquery.min.js' %}" tppabs="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
	<script src="{% static 'js/all.min.js' %}"></script>
	<script src="{% static 'js/love.min.js' %}"></script>
	<div class="mPower"><span id="on" title="点击暂停" style=""></span><span id="off" title="点击播放" style=""></span></div>


</body>

</html>